.title {
    text-align: center;
}

.title h1 {
    font-family: Arial, monospace;
    font-size: 3vw;
    color: black;
}

.problem {
    text-align: center;
}

.problem h2 {
    font-family: Arial, monospace;
    font-size: 3vw;
    color: black;
}

.answer {
    width: 50vw;
    margin: 0 auto;
    text-align: center;
}

.answer input {
    width: 10vw;
    height: 7vw;
    border-width: 0.5vw;
    border-radius: 3vw;
    border-color: aquamarine;
    font-family: monospace;
    font-size: 3vw;
    color: black;
    text-align: center;
}

.but {
    text-align: center;
    padding-top: 3vh;
}

.but a {
    text-decoration: none;
    font-family: Arial, monospace;
    font-size: 2vw;
    color: black;
}

.but a:hover {
    color: aquamarine;
}

.result {
    text-align: center;
    padding-top: 3vh;
}

.result h2 {
    font-family: Arial, monospace;
    font-size: 2vw;
    color: black;
}
