.game-container {
    width: 38vw;
    height: 98vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.window-problem {
    background: #fff;
    width: 36vw;
    height: 15vh;
    border: solid #000 0.15vw;
    border-radius: 10vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 27vh;
}

.window-problem h2 {
    font-size: 3vw;
    font-weight: bold;
}

.action-panel {
    margin-top: 5vh;
    width: 36vw;
    height: 9vh;
    display: flex;
    align-items: center;
}

.action-panel input {
    width: 10vw;
    height: 7vh;
    border: solid #000 0.15vw;
    border-radius: 5vw;
    text-align: center;
    text-decoration: none;
    font-size: 2.5vw;
    font-family: "JetBrains Mono", monospace;
    outline: none;
}

.action-panel button {
    margin-left: 2vw;
    width: 4vw;
    height: 4vw;
    background: #512f25;
    color: #fff;
    font-family: "JetBrains Mono", monospace;
    font-size: 2vw;
    font-weight: bold;
    border: none;
    border-radius: 5vw;
}

.action-panel button:hover {
    cursor: pointer;
    background: #d8843c;
}

.action-panel h2 {
    font-size: 1.5vw;
    margin-left: 4vw;
    background: #ff6666;
    /*background: #6bdb6b;*/
    border-radius: 0.6vw;
    padding-left: 2vw;
    padding-right: 2vw;
    color: #000;
}

.dummy {
    width: 30vw;
    height: 35vh;
    justify-self: flex-end;
    margin-top: auto;
    margin-bottom: 3vh;
    overflow-y: auto;
}

.result-panel {
    width: 30vw;
    display: flex;
    align-items: end;
    justify-content: center;
    text-align: center;
    border-bottom: solid #3d4a36 0.2vw;
}

.result-panel h2 {
    font-size: 1.5vw;
    color: #444;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; // Yeah, yeah everybody write about it
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}